.sidebar
  .logo-area.text-center Elhangor
  ul.link-area.list-unstyled
    li: a(href="#") Home Page
    li
      a.toggle-submenu(href="#") 
        | forms
        i.fas.fa-angle-right
      ul.child-link.list-unstyled
        li: a(href="#") link
        li: a(href="#") link
        li: a(href="#") link
        li: a(href="#") link
    li
      a.toggle-submenu(href="#") 
        | Table
        i.fas.fa-angle-right
      ul.child-link.list-unstyled
        li: a(href="#") Row
        li: a(href="#") Row 2
